Repository vsantele/IGBot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --fix, prettier --write src/**/*.ts

docs: update GitHub documentation
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier --write src/**/*.ts

docs: add license
  LICENSE
Due: none

chore: update whole structure
  .eslintignore
  .eslintrc
  .eslintrc.json
  .github/workflows/.gitkeep
  .gitignore
  .husky/pre-commit
  .prettierrc
  definitions/.eslintrc.json
  index.ts
  package-lock.json
  package.json
  res/contributors.json
  res/holidays.json
  src/.gitkeep
  src/index.ts
  tests/.gitkeep
  tsconfig.json
  yarn.lock
Due: eslint ./src --fix, prettier --write src/**/*.ts

docs: add schema and update README
  README.md
  docs/igbot.drawio
  docs/igbot.png
  src/api/.gitkeep
  src/cluster/.gitkeep
  src/core/.gitkeep
  src/master/.gitkeep
  src/website/.gitkeep
  tests/core/.gitkeep
Due: none

refactor: move to PNP
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .pnp.cjs
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/sdks/integrations.yml
  .yarnrc.yml
  README.md
  commitlint.config.js
  definitions/.eslintrc.json
  package.json
  src/api/.gitkeep
  src/api/package.json
  src/cluster/.gitkeep
  src/cluster/package.json
  src/core/.gitkeep
  src/core/package.json
  src/master/.gitkeep
  src/master/package.json
  src/resources/contributors.json
  src/resources/holidays.json
  src/resources/package.json
  src/website/.gitkeep
  src/website/package.json
  tests/core/.gitkeep
  tests/core/package.json
  tsconfig.json
  yarn.lock
Due: prettier --write src/**/*.ts

feat: add domain & database repos
  README.md
  docs/igbot.drawio
  docs/igbot.png
  src/database/package.json
  src/domain/package.json
Due: prettier --write src/**/*.ts

Path conditions:
  eslint ./src --fix: any of: *.ts
  prettier --write src/**/*.ts: any of: *.{ts,json,yml,yaml}
